<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
{#        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>#}
{#        detail: 类似laravel路由里面的别名，polls.urls里面的name #}
{#        <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>#}
{#        加上url命名空间 #}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>